.PrandName{
    width: 100%;
    height: 100vh; 
    position: relative;
    
}
.PrandName .content
{
    width: 100%;
    height: 100%;
    position: relative;
   
}
.PrandName .content .headset{
    position: absolute;
    top:50px;
    justify-self: center;
    
}
.PrandName .content .name{
    position: absolute;
    text-align: center;
    top: 100px;
    left: 20px;
}
.PrandName .content .headset img{
    width: 100%;
    animation: headset 2s linear forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
    
}
.PrandName .content .name h1{
    font-size: 15rem;
    text-align: center;
    animation: name 2s linear forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}
@keyframes headset {
    0%{
        transform: scale(0);
    }
    100%{transform: scale(1);}
}
@keyframes name {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}
@media screen and (max-width:600px){

    .PrandName{
    width: 100%;
    height: 70vh; 
    
}
    .PrandName .content .name{
        top: 180px;
        right: 0px;
    }
    .PrandName .content .name h1{
    font-size: 3rem;
    
}
@keyframes name {
    0%{
        transform: translateX(-110px);
    }
    100%{
        transform: translateX(0px);
    }
}
}
